<h1>注文確認</h1>
<%= form_with(model: @order, local: true) do |form| %>

  <div class="field">
    <p><%= form.label :タイトル %></p>
    <%= @book.title %>
    <%= form.hidden_field :book_id, value: @book.id %>
  </div>

  <div class="field">
    <p><%= form.label :個数 %></p>
    <%= @order.count %>
    <%= form.hidden_field :count %>
  </div>

  <div class="field">
    <p><%= form.label :住所 %></p>
    <%= @order.address %>
    <%= form.hidden_field :address %>
  </div>

  <div class="actions">
    <%= form.submit '注文を確定する' %>
  </div>
<% end %>