<h2>注文内容編集</h2>

<%= form_with(model: @order, local: true, url: confirm_orders_path, method: :get) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% @books.each do |book|%>
  商品名：<%= book.title %>

  <div class="field">
    <%= form.label :個数 %>
    <%= form.text_field :count, name: "order[count][]", value: LineItem.find_by(cart_id: @current_cart, book_id: book).quantity %>
  </div>

<div class="field">
    <%= form.hidden_field :book_id, value: book.id, name: 'order[book_ids][]' %>
  </div>

<% end %>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit '次へ' %>
  </div>
<% end %>