<div class="container">

<h2>注文内容編集</h2>

<%= form_with(model: @order, local: true, url: confirm_orders_path, method: :get) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% @books.each do |book|%>
   <p><%= image_tag book.thumbnail %></p>
  商品名：<%= book.title %>

  <div class="field">
    <%= form.label :個数 %>
    <%= form.select :count, options_for_select((1..10).to_a, 
    LineItem.find_by(cart_id: @current_cart, book_id: book).quantity), {}, name: "order[count][]" %>
  </div>
<br>
<div class="field">
    <%= form.hidden_field :book_id, value: book.id, name: 'order[book_ids][]' %>
  </div>
<% end %>
  <br>
  <div class="field">
    <%= form.label :お届け先住所 %><br>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit '次へ' %>
  </div>
<% end %>

<p><%= link_to 'カート詳細へ戻る', cart_path(session[:cart_id]) %></p>