
<p>
   <% if @book.photo.attached? %>
   <%= image_tag @book.thumbnail %>
   <% end %>
</p>

<%= render @book %>

<p>
  <strong>タグ</strong>
  <%= @book.tags.map(&:name).join(', ') %>
</p>

<p>
<strong>Status</strong>
<td><%= @book.status %></td>
</p>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete, data: { "turbo-confirm": "本当に削除しますか？" } %>
</div>
