<% @line_items.each do |line_item| %>
    <% book = line_item.book %>
    <div>
      <p><%= book.title %></p>
      <p><%= line_item.quantity %>冊</p>
      <p>
        <%= line_item.total_price %>
        <span>円 (税込)</span>
      </p>
    </div>
  <% end %>
  
  <div>
    <p>注文数: <%= @current_cart.total_number %><span>冊</span></p>
    <p>
      合計金額:<%= @current_cart.total_price %>
      <span>円 (税込)</span>
    </p>
  </div>
  
  <% if @line_items.count == 0 %>
    カートには何も入っていません。
  <% else %>
     <%= link_to 'カートを空にする', @cart, data: { "turbo-method": :delete, "turbo-confirm": 'カートの中身をすべて削除してもいいですか？' } %> >
  <% end %>