
<p style="color: green"><%= notice %></p>

<h2>商品詳細</h2>
<%= render @book %>

<p>
  <strong>タグ</strong>
  <%= @book.tags.map(&:name).join(', ') %>
</p>

<%= link_to "購入", new_order_path(@book) %> </br>

<%= link_to "一覧に戻る", products_path %>